*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#009688 140px, #DBDBD2 140px);
    overflow: hidden;
}
.lightgrey{
    background-color: lightgrey;
}
.container{
    max-width: 1170px;

}
.division{
    display: flex;
    flex-wrap: wrap;
}
.chat-list, .main-chat{
    background-color: #FFFFFF;
}
.user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icon{
    fill: grey;
    padding: 0 5px;
    font-size: 20px;
}

.enable-notification{
    background-color: #8EDAFC;
    height: 50px;
}
.bell{
    fill: #8EDAFC;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    padding: 5px;
}
.desktop-notification{
    font-size: 12px;
    color: grey;
    background-color: #8EDAFC;
}
.search-conversation{
    height: 40px;
}
.zoom{
    background-color: #FFFFFF;
}
.last-message{
    font-size: 12px;
    color: grey;
}
.recently-conversation{
    height: calc(100vh - 140px);
    overflow-y: scroll;
}




.site-head-left, .site-head-right{
    height: 50px;
}

.main-conversation{
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
.my-message{
    background-color: #D5F9BA;
}
.friend-message{
    background-color: #FFFFFF;
}
.send{
    font-size: 10px;
    color: grey;
}
.site-footer-right{
    height: 50px;
}